@import "@fortawesome/fontawesome-free/css/all.css";

body {
    color: #fff;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #000000 0%, #261d02 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #000000 0%, #261d02 100%) repeat scroll 0 0;
    position: relative;
}

@keyframes fadeIn {
    from {
        top: 20%;
        opacity: 0;
    }
    to {
        top: 100;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        top: 20%;
        opacity: 0;
    }
    to {
        top: 100;
        opacity: 1;
    }
}

.wrapper {
    width: 100%;
    padding: 5px 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}

.logo-wrapper {
    max-width: 400px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.logo-wrapper img {
    width: 100%;
}

.description {
    margin: 0 auto;
    width: 100%;
    display: block;
    max-width: 550px;
    text-align: center;
}

h1 {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}

.dot {
    color: #f6be00;
}

p {
    text-align: center;
    margin: 18px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

.icons {
    text-align: center;

}

.icons i {
    color: #00091B;
    background: #fff;
    height: 15px;
    width: 15px;
    padding: 13px;
    margin: 0 10px;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: all 200ms ease;
    text-decoration: none;
    position: relative;
}

.icons i:hover, .icons i:active {
    color: #fff;
    background: none;
    cursor: pointer !important;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    text-decoration: none;
}
